.rad-5{
  border-radius: 5px;
}
.star {
  display: flex;
  align-items:center;
}

.form-text{
  font-size:15px;
}

.text-box{
  padding-bottom:0.5px;
}

.star-rating {  
  display:flex;
  flex-direction: row-reverse;
  font-size:min(max(20px, 3vw), 40px);
  justify-content:space-around;
  text-align:center;
  width:25%;
}

.star-rating input {
  display:none;
}

.star-rating label {
  color:#ccc;
  cursor:pointer;
}

.star-rating :checked ~ label {
  color:#f90;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color:#fc0 !important;
}

.star-rating-disabled {  
  display:flex;
  flex-direction: row-reverse;
  font-size:min(max(20px, 3vw), 40px);
  justify-content:space-around;
  text-align:center;
  width:25%;
}
.star-rating-disabled label {
  color:#ccc;
}

.star-rating-disabled input {
  display:none;
}